.intro{
    display: flex;
    height: 100vh;
}
.typing::after{
content: "";
position: absolute;
color: black;
width: 1px;
height: 30px;
border-right: 2px solid black;
animation: blink 0.5s infinite ease;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}